/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
h2 { font-size: 180%; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  font-size: 80%;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 150%;
  text-align: justify;
  width: 75%;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site a {
  text-decoration: none;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.header title {
  font-size: 3.0em;
}

.post h1, .post h2, .post h3 {
  padding: 0 1em;
}

.post h1 {
  font-size: 2.0em;
}

.post h2 {
  font-size: 1.7em;
}

.post h3 {
  font-size: 1.4em;
}

.post p {
  padding: 0 2em;
  line-height: 150%;
  font-size: 1.2em;
}

.post blockquote {
  padding: 0 4em;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
  width: 80%
  font-size: 0.9em;
  font-style: italic;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 0 .4em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  width: 85%;
}

.post ul, .post ol {
  padding: 0 3em;
  margin-left: 1.35em;
  font-size: 1.2em;
  line-height: 150%;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 0 0;
  font-family: Inconsolata, Consolas, Droid Sans Mono, monospace;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
