<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a href="/" class="extra">posts</a>
            <a href="https://careers.stackoverflow.com/dharmab" class="extra">about</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Dharma Bellamkonda<br />
                Software Engineer<br />
                dharma.bellamkonda@gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/dharmab">github.com/dharmab</a><br />
              </p>
            </div>
          </div>
        </div>
    </body>
</html>
